<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>WKCompanionAppBundleIdentifier</key>
    <string>com.hejmattias.klockylator</string>
    <key>CFBundleDisplayName</key>
    <string>kolkalk</string>
    <key>CFBundleIdentifier</key>
    <string>com.hejmattias.klockylator.watchapp</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>kolkalk</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>

    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.hejmattias.klockylator.watchapp</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>kolkalk</string>
            </array>
        </dict>
    </array>

    <key>NSHealthShareUsageDescription</key>
    <string>Appen behöver läsa data från Apple Hälsa för att visa kolhydrater och insulin.</string>

    <key>NSHealthUpdateUsageDescription</key>
    <string>Appen behöver skriva data till Apple Hälsa för att logga kolhydrater och insulin.</string>

</dict>
</plist>
